<%= render '/partials/navbar.*' %>

<main>
  <div class="main_content">
    <%= yield %>
  </div>
  <footer class="align footer">
    <p>©2020 <a href="https://gentsestudentenraad.be/">Gentse Studentenraad</a></p>
    <div lang="en">
      <p>Made with ♥ by <a href="https://zeus.gent">Zeus WPI</a></p>
    </div>
  </footer>
</main>
