<div class="detail-body">
    <div class="detail_title">
        <a target="_blank" href="<%= item[:website] %>"><img src="<%= image_url(item, size="large") %>" alt="<%= item[:naam] %>" width=auto height=auto></a>
        <h2><%= item[:naam] %></h2>
        <div class="detail_title_themas">
            <% for thema in item.fetch(:themas, []) %>
                <div class="vereniging_thema">
                    <a href="/themas/<%= thema %>.html">
                        <%= @items["/assets/themas_icon/"+thema+".svg"].compiled_content %>
                    </a>
                </div>
            <% end %>
        </div>
    </div>
    <div class="details-contact">
    <%if item[:deelname_link] || item[:contact] || item[:website]%>
    <% if item[:deelname_link] %><a href="<%= item[:deelname_link] %>"><%= item[:deelname_link] %></a><% end %>
    <div class="contact-container">
        <% if item[:contact] %><a href="<%= "mailto:" if is_email item[:contact] %><%= item[:contact] %>"><%= item[:contact] %></a>
            <% if item[:website] %>&nbsp;<%end%>
        <%end%>
        <% if item[:website] %><a href="<%= item[:website] %>"><%= item[:website] %></a><%end%>
    </div><%end%>
    <% if item[:social] %>
    <div class="social-container">
        <ul>
            <% for social in item[:social] %>
                <a class="social" href="<%= social[:link] %>"><img src="/assets/social/<%= social[:platform].downcase %>_small.png"></a>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>

    <div class="detail-content">
        <%= yield%>
    </div>
</div>
<div class="details-container details-photo">
    <div class="showcase-container">
    <% if item[:showcase] %>
        <% for showcase_img in item[:showcase] %>
            <div class="showcase-image">
                <img src="<%= showcase_img[:photo]%>" alt="showcase img"></img>
            </div>
        <% end %>
    <% end %>
    </div>
</div>
<% if item.path.include? "konventen" %>
    <div class="fancy_link_container">
    <% verenigingen_voor_konvent(item[:id]).sort_by{ |x| x[:naam] }.each do |vereniging|  %>
        <%= render '/partials/pretty_link.*', :item => vereniging %>
    <% end %>
    </div>
<% end %>
